<div data-id="header" data-role="header" data-position="fixed">
    <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
        <a href="#" class="showMenu" data-role="button" data-icon="arrow-d">Menu</a>
        <!--<a href="#" data-role="button" data-icon="gear">Options</a>-->
    </div>
    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
        <a href="#" data-rel="back" data-role="button" data-icon="arrow-l">Back</a>
    </div>
    <h1><%=header_title%></h1>
</div>
