<!DOCTYPE html>
<!-- This the main module -->
<html>
<head>
    <meta charset="utf-8">

    <title>JRiver Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/jquery.mobile.min.css"/>
    <link rel="stylesheet" href="css/jqm-icon-pack-2.1.2-fa.css"/>
    <link rel="stylesheet" href="css/jrmc-webclient.css"/>
    <script language="JavaScript">
        remoteServer='<%=remoteServer%>';
    </script>
    <script data-main="js/jrmc-webclient" src="js/libs/require.js"></script>
</head>
<body  style="width: 100%; height: 100%;">
<div id="main-menu">
    <h3>Menu</h3>
    <ul>
        <li><a href="#now-playing" data-transition="slide" class="contentLink">Now Playing</a></li>
        <li><a href="#library0" data-transition="slide" class="contentLink">Library</a></li>
        <li><a href="#playlist" data-transition="slide" class="contentLink">Playlist</a></li>
    </ul>
</div>


<div data-role="page" id="now-playing" data-theme="a">
    <% header_title='Now Playing'%><% include global-header %>
    <!-- /header -->

    <div data-role="content">
        <div class="content-primary">
            <form>
                <div class="ui-body ui-body-a">
                    <div class="cover" id="cover-stage" style="height: 200px; width: 200px; float: left">
                        <img src="" id="cover"/>
                    </div>
                    <div style="width: 75%; float: right">
                        <input id="track-pos" data-theme="b" contenteditable="false"/>

                        <div data-role="fieldcontain">
                            <label for="title">Title : </label>
                            <input id="title" data-theme="c" readonly="true"/>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="album">Album : </label>
                            <input id="album" data-theme="c" readonly="true"/>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="artist">Artist : </label>
                            <input id="artist" data-theme="c" readonly="true"/>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="position">Position : </label>
                            <input id="position" data-theme="c" readonly="true"/>
                        </div>
                        <div data-role="fieldcontain">
                            <input type="range" name="slider-3" id="position-slide" value="0" min="0" max="10000"
                                   data-theme="a"
                                   data-track-theme="e" readonly="true"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /content -->
    <% include nowplaying-footer %>
    <!-- /footer -->
</div>
<!-- /page -->
<% for (var iter=0;iter<6;iter++) { %>
<div data-role="page" id="library<%= iter%>" data-theme="a">
    <% header_title='Library'%><% include global-header %>
    <div data-role="content">
        <div class="content-primary">
            <ul id="medias<%= iter%>" data-role="listview" data-filter="true">
            </ul>
        </div>
        <% popup_id=iter %><% include media-popup %>
    </div>
    <!-- /content -->
    <% include library-footer %>
</div>
<% } %>

<div data-role="page" id="playlist" data-theme="a">
    <% header_title='Playlist'%><% include global-header %>
    <div data-role="content">
        <div class="content-primary">
            <ul id="playlist-medias" data-role="listview" data-filter="true">
            </ul>
        </div>
        <% include media-popup %>
    </div>
    <!-- /content -->
    <% include library-footer %>
</div>


<!-- /page popup -->
</body>
</html>