<div data-role="footer" data-position="fixed" class="ui-bar" data-theme="c">
    <div style="float: left">
        <img class="np-cover" src="images/cover.png" style="height: 50px; width: 50px"/>
    </div>
    <h1 class="np-description">Now Playing</h1>
    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
        <h3 class="np-position">Position</h3>
    </div>
</div>
