<div class="library-footer ui-bar" data-id="library-footer" data-role="footer" data-position="fixed"  data-theme="c">
    <div style="float: left; margin-right: 15px">
        <img class="np-cover" src="images/cover.png" style="height: 90px; width: 90px"/>
    </div>
    <div>
        <h3 class="np-description">Now Playing</h3>

        <div data-role="controlgroup" data-type="horizontal">
            <a class="control-play" data-icon="play" data-role="button" href="#">Play/Pause</a>
            <a class="control-stop" data-icon="stop" data-role="button" href="#">Stop</a>
        </div>
    </div>

    <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
        <h3 class="np-position">Position</h3>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    </div>
</div>
