<div data-role="popup" id="popupMediaMenu<%=popup_id%>" data-theme="a" data-position-to="origin">
    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b">
        <li data-role="divider" data-theme="a">Media</li>
        <li><a href="#" onclick="playNow('<%=popup_id%>')">Play now</a></li>
        <li><a href="#" onclick="playNext('<%=popup_id%>')">Add as next</a></li>
        <li><a href="#" onclick="playAfter('<%=popup_id%>')">Add at end</a></li>
    </ul>
</div>
