<div data-role="popup" id="popupMenu" data-theme="a">
    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b">
        <li data-role="divider" data-theme="a">Media</li>
        <li><a href="options.html">Play</a></li>
        <li><a href="options.html">Add as next</a></li>
        <li><a href="methods.html">Add at end</a></li>
        <li><a href="events.html">Events</a></li>
    </ul>
</div>
