<div data-role="footer">
    <div data-role="navbar" data-position="fixed">
        <ul>
            <li><a class="control-previous" data-icon="step-backward" href="#">Previous</a></li>
            <li><a class="control-play" data-icon="play" href="#">Play/Pause</a></li>
            <li><a class="control-stop" data-icon="stop" href="#">Stop</a></li>
            <li><a class="control-next" data-icon="step-forward" href="#">Next</a></li>
        </ul>
    </div>
    <!-- /navbar -->
</div>
